 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


:root{
  --primary-white: #fff;
  --primary-gray: #636e72;
}




body{
  background-position:left;
  position: relative;
  font-family: 'Roboto Condesed' sans-serif;
  /* background: url(evolve.jpg) no-repeat  ; */
  background-color: var(--primary-gray) !important;
  background-size: cover;
  width:auto;
  height: 500px;
  

}
.card:hover{
  transform: scale(1.5);
}
.card{
  width: 30vw;
  margin-left: 50%;
  height:calc(100vh - 50%);
  /* background-color: rgb(155, 9, 111); */
  border-radius:30px !important;
  box-shadow:#ecf0f1 2px 2px 20px;
  margin-top: 3rem;

}
.card-body{
  background-color:#b2bec3;
  border-radius:30px !important;


}

/**********************about**********************************/
.About > h3{
  text-align: center;
  margin-top: 5rem;
}
.about-wrapper{
    display: flex;
    width: 100%;
}

/********************education*********************************/
.edu h3{
  text-align: center;
  margin-top: 5rem;
}
.edu-left{
  display: flex;
  flex: 0.5;
  width: 100%;
  height: 10vh;
}
.edu-right{
  display: flex;
  flex: 0.5;
  width: 100%;
  
}
.education-wrapper{
  display: flex;
  width: 100%;
}

/******************************skills**************************/
.skills > h3{
  text-align: center;
  margin-top: 5rem;
  margin-right: 5rem;
}

.skill-wrapper{
  display: flex;
  width: 100%;
}

/***************************sovtec****************************/
.sovtec h3{
  text-align: center;
  margin-top: 5rem;
}
.SovTech card-body{
  margin-left: 5rem;
}
.sovtec-wrapper{
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 600px) {
    
}
/************************NAVBAR*******************************/

nav a.nav-link{
  letter-spacing: 0.00375rem;
  cursor:pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.80rem ;
  margin-left: 0.80rem ;
  color:var(--primary-white) !important;
}

.navbar-brand {
  color:var(--primary-white) !important;
  font-weight: 1000rem;
  
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-gray);
}

/************************HEADER*******************************/

.header-wrapper{
  font-style: italic ;
  margin-top: 5rem;
}

.info-msg h2{
  color: 0.1875rem solid var(--primary-gray);
  text-transform: uppercase;
  
}
.intro{
  width:550px;
}
.main{
  width: 1110px;
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around ;
  margin-top: 5rem;
  
}

@keyframes float {
  0% {
    box-shadow:#ecf0f1 0px 0px 20px;
    border-radius: 50%;
    transform: translatey(0px);
  }

  50% {
    box-shadow:#ecf0f1 1px 1px 20px;
    border-radius: 50%;
    transform: translatey(-20px);
  }

  100% {
    border-radius: 50%;
    transform: translatey(0px);
  }
}

img {
  margin-top: 3rem;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}